.btnText {
  font-size: clamp(0.5rem, 2.5vh, 4rem);
}

@media screen and (max-width: 500px) {
  .btnText {
    font-size: clamp(0.5rem, 1.5vh, 4rem);
  }
}
.regiter_btn {
  color: #000000;
  background-color: #ffc30b;
  border: 2px solid black;
}
.regiter_btn:hover {
  background-color: transparent;
  border: 2px solid #ffc30b;
}

.disp {
  height: 100vh;
}
