.cardAnimation {
  transition: all 0.2s ease-in-out;
}
.cardAnimation:hover {
  transform: scale(1.03);
}
$optionDefaultColours: #ed5565, #fc6e51, #ffce54, #2ecc71, #5d9cec, #ac92ec;

.bodyCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font-family: "Roboto", sans-serif;
  transition: 0.25s;
  dark {
    background: #232223;
    color: white;
  }
  .credit {
    position: absolute;
    bottom: 20px;
    left: 20px;

    color: inherit;
  }
  .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;

    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 50px);
    @media screen and (max-width: 740px) {
      min-width: 150px;
      max-width: 600px;
    }
    height: 100%;

    @media screen and (max-width: 740px) {
      display: flex;
      flex-direction: column;
    }

    .option {
      position: relative;
      overflow: hidden;
      min-width: 60px;
      margin: 10px;
      //border:0px solid --defaultColor;
      background-size: "auto 100%" !important;
      background-position: center !important;
      background-repeat: no-repeat !important;

      cursor: pointer;
      @media screen and (max-width: 740px) {
        overflow: visible;
        max-width: 400px;
        height: 60px;
        background-size: "auto 100%" !important;
      }
      transition: all 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
      @for $i from 1 through length($optionDefaultColours) {
        &:nth-child(#{$i}) {
          --defaultBackground: #{nth($optionDefaultColours, $i)};
        }
      }

      &.active {
        flex-grow: 10000;
        transform: scale(1);

        max-width: 100%;
        height: 400px;
        margin: 0px;
        border-radius: 40px;

        transition: all 0.2s ease-in;
        @media screen and (max-width: 740px) {
          overflow: hidden;
          height: 400px !important;
        }
        @media screen and (max-width: 715px) {
          overflow: hidden;
          width: 100%;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.7) !important ;
          background-blend-mode: overlay !important;
          .text {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .shadow {
          box-shadow: inset 0 -120px 120px -120px black,
            inset 0 -120px 120px -100px black;
        }
        .label {
          bottom: 20px;
          left: 20px;
          .info > div {
            left: 0px;
            opacity: 1;
          }
        }
      }
      &:not(.active) {
        flex-grow: 1;

        border-radius: 30px;

        // .shadow {
        //   bottom: -40px;
        //   box-shadow: inset 0 -120px 0px -120px black,
        //     inset 0 -120px 0px -100px black;
        // }
        .label {
          bottom: 10px;
          left: 10px;
          .info > div {
            left: 20px;
            opacity: 0;
          }
        }
      }
      .shadow {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;

        height: 120px;

        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
      }
      .text {
        display: none;
        position: absolute;
        left: 0;
        height: 300px;
        width: 100%;
        text-align: center;
        font-size: clamp(0.7rem, 2vw, 1.1rem);
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
      }
      .label {
        display: flex;
        position: absolute;
        right: 0px;

        height: 40px;
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        .icon {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          min-width: 40px;
          max-width: 40px;
          height: 40px;
          border-radius: 100%;

          background-color: white;
          color: var(--defaultBackground);
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;

          margin-left: 10px;

          color: white;

          white-space: pre;
          > div {
            position: relative;

            transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95),
              opacity 0.5s ease-out;
          }
          .main {
            font-weight: bold;
            font-size: 1.2rem;
          }
          .sub {
            transition-delay: 0.1s;
          }
        }
      }
    }
  }
}
